body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    background-color: #333;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
  }
  
  .display {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .display input {
    font-size: 20px;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  .buttons button {
    background-color: #888;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .buttons button.yellow {
    background-color: rgb(255, 145, 0);
    color: #333;
  }
  
  .buttons button:hover {
    background-color: #555;
    transform: scale(1.1);
  }
  
  .buttons button:active {
    transform: scale(0.9);
  }
  
  .buttons button:focus {
    outline: none;
    transform: scale(0.95);
  }
  
  .buttons button:nth-child(4n + 1) {
    animation: bounce-in-right 0.6s cubic-bezier(0.23, 1, 0.32, 1.02) forwards;
  }
  
  .buttons button:nth-child(4n + 2) {
    animation: bounce-in-top 0.6s cubic-bezier(0.23, 1, 0.32, 1.02) forwards;
  }
  
  .buttons button:nth-child(4n + 3) {
    animation: bounce-in-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1.02) forwards;
  }
  
  .buttons button:nth-child(4n + 4) {
    animation: bounce-in-left 0.6s cubic-bezier(0.23, 1, 0.32, 1.02) forwards;
  }
  
  @keyframes bounce-in-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    80% {
      transform: translateX(-20px);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes bounce-in-top {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    80% {
      transform: translateY(20px);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes bounce-in-bottom {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    80% {
      transform: translateY(-20px);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes bounce-in-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    80% {
      transform: translateX(20px);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .buttons button.clicked {
    animation: click-animation 0.3s linear;
  }
  
  @keyframes click-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  